.buttonHandler{
    background-color: #c94c2a;
    border: 0.1px solid black;
    color:white;
    height:100%;
    font-size: 20px;
    padding:0px;
}
.buttonAdd{
    background-color: #c94c2a;
    border: 0.1px solid black;
    color: white;
    height: 100%;
    font-size: 9px;
    padding: 5px;
}

